.subhead{
  font-size: 40px;
  font-weight: bold;
  margin-inline-start: 48%;
  margin-top: 20%;
}
.text{
width: 40%;
margin-inline-start: 40%;
margin-top: 5%;
}
.btn-add:hover{
  background-color:darkviolet;
  font-weight: bold;
  border: 2px solid rgb(9, 215, 230);
}
.date{
  width: 40%;
  margin-inline-start: 8%;
}
.due{
  margin-inline-start: 40%;
  font-weight: bold;
  font-size: 18px;
}
.button-dark{
  margin-inline-start: 53%;
  
}
.my-task{
  font-size: 35px;
  font-weight: bold;
  margin-inline-end: 25%;
  margin-top: 4%;
}
.delete{
  margin-inline-start: 33%;
}
.alert{
  margin-inline-start: 5%;
  font-weight: bold;
  color: aqua;
  font-size: 18px;
}
.Notask{
  font-weight: bold;
  font-size: 35px;
}
.img{ 
  height: 1000px;
  background-image:url("https://images.pexels.com/photos/2236703/pexels-photo-2236703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}